table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th {
  background-color: #4caf50;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}